body{
background-color: blue;

}
.todo-container{

      width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 26px;
  box-shadow: 5px 5px 0 ;
  overflow: hidden;
 margin: auto;
 margin-top: 5%;
 padding: 5%;
}
button{
background-color: red;
color: white;

}
.todo{
color: blue;

}
.input-section{
color: pink;

}