body{
    font-family: Arial,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container{
width: 80%;
margin: 40px auto;

}
button{
    background-color: rgb(0, 174, 255);
    border: none;
    font-size: 15px;
    padding: 10px ;
    cursor: pointer;
    border-radius: 10px;
}